*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.input-group{
    width:100% !important;
}
.input-group-append{
    width:100%;
    display:block !important;
}
.form-input{
    width:100%;
    outline:none;
    border:1px solid dodgerblue;
    border-radius: 5px;
    height:32px;
    padding: 1px 3px;
}
.search-button{
    width:100% !important;
    background:dodgerblue !important;
    margin-top:10px;
    color:#fff !important;
    border-radius:5px !important;
}

.weather-hr{
    border-top: 2px solid rgba(0,0,0,.1) !important;
}

.list-group > div{
    height:35px;
    width:100%;
    background:#aaa;
    text-align:center;
    display:grid;
    place-items:center;
    border-radius:5px;
    cursor:pointer;
}
.list-group > div:not(:last-child){
    margin-bottom: 12px;
}

#today{
    padding:5px;
    border-radius:6px;
}
#today > h1{
    text-transform: capitalize;
}
#today > p{
    font-size: 17px;
}

#forecast{
    display:block;
}
#forecast-list{
    display:flex;
    flex-wrap: wrap;
}
#forecast-list > div{
    margin:8px;
    padding:8px;
    background:#374352;
    width:100%;
    border-radius: 5px;
    max-width:220px;
    color:#eee;
    cursor:pointer;
}
#forecast-list > div > p{
    font-size: 16px;
}
#forecast-list-date{
    font-weight:500;
}
#forecast-list-icon{
    font-size:50px !important;
    border-bottom:1px solid #aaa;
}
#backdrop{
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.3);
    z-index:99;
    display:none;
    place-items:center;
}

#spinner {
    width: 40px;
    height: 40px;
    border: 5px dotted darkblue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 